<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
    <!--	<init-param>
		<param-name>compiler</param-name>
		<param-value>modern</param-value>
	</init-param>
	<init-param>
		<param-name>compilerSourceVM</param-name>
		<param-value>1.8</param-value>
	</init-param>
	<init-param>
		<param-name>compilerTargetVM</param-name>
		<param-value>1.8</param-value>
	</init-param>
	<init-param>
		<param-name>suppressSmap</param-name>
		<param-value>true</param-value>
	</init-param>-->
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WalletAmount</servlet-name>
        <servlet-class>controller.WalletAmount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarInfo</servlet-name>
        <servlet-class>controller.CarInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PricesJSON</servlet-name>
        <servlet-class>controller.PricesJSON</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerformOperation</servlet-name>
        <servlet-class>controller.PerformOperation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeColorPrices</servlet-name>
        <servlet-class>controller.ChangeColorPrices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeCarPrice</servlet-name>
        <servlet-class>controller.ChangeCarPrice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeModelPrice</servlet-name>
        <servlet-class>controller.ChangeModelPrice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MoneyTransfer</servlet-name>
        <servlet-class>controller.MoneyTransfer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarInfo</servlet-name>
        <url-pattern>/carInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PricesJSON</servlet-name>
        <url-pattern>/pricesJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerformOperation</servlet-name>
        <url-pattern>/performOperation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeColorPrices</servlet-name>
        <url-pattern>/changeColorPrices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeCarPrice</servlet-name>
        <url-pattern>/changeCarPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeModelPrice</servlet-name>
        <url-pattern>/changeModelPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MoneyTransfer</servlet-name>
        <url-pattern>/moneyTransfer</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>filtering.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/garage.html</url-pattern>
        <url-pattern>/index.jsp</url-pattern>
        <url-pattern>/wallet.jsp</url-pattern>
        <url-pattern>/admin.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Paint Service</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LoginCheck</servlet-name>
        <servlet-class>controller.LoginCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>controller.Registration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginCheck</servlet-name>
        <url-pattern>/loginCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WalletAmount</servlet-name>
        <url-pattern>/walletAmount</url-pattern>
    </servlet-mapping>
</web-app>
